@using ConnectFour.Shared.Services
@inject GameState gameState

<HeadContent>
    <style>
        :root {
            --board-bg: yellow;  /** the color of the board **/
            --player1: red;      /** Player 1's piece color **/
            --player2: blue;     /** Player 2's piece color **/
        }
    </style>
</HeadContent>
<nav>
    @for (byte i = 0; i < 7; i++)
    {
        var col = i;
        <span title="Click to play a piece" @onclick="() => PlayPiece(col)">🔽</span>
    }
</nav>
<div>
   <div class="board">
      @for (var i = 0; i < 42; i++)
      {
         <span class="container">
            <span></span>
         </span>
      }
   </div>
   @for (var i = 0; i <42; i++)
   {
      <span class="@pieces[i]"></span>
   }
</div>
<h6>aiueo</h6>

@code {
   private string[] pieces = new string[42];
   protected override void OnInitialized()
   {
      gameState.ResetBoard();
   }

   private void PlayPiece(byte col)
   {
      var player = gameState.PlayerTurn;
      var turn = gameState.CurrentTurn;
      var landingRow = gameState.PlayPiece(col);
      pieces[turn] = $"player{player} col{col} drop{landingRow}";
   }
}