@inherits LayoutComponentBase

<div class="page">
    <main>
        <h1>Connect Four</h1>

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
